@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background-color: #cde2f1; */
   color: white; 
}  


body{
    background: url("../img/6016317.jpg");

    text-align: left; 

}
table { 

    /* Styling border collapse for table one. */ 

    border-collapse: collapse; 
    font-size: 15pt;
    width: 30%;
    margin-left: 900px;
    /*margin-right: auto;*/
    position:relative;
    top: 140px;
    /* margin-top: 2px; */
} 

 #chart_div{
     position: absolute;
     top: 100px;
     border: 3px;
     border: rgb(103, 156, 255);
     width: 400px;
     height: 200px;
 } 
 h1{
    color:#4b71d0;font-weight: bold;
  margin-top: 30;margin-left: 650px;}
table { 

    /* Styling border separate for table two. */ 

    border-collapse: separate; 

} 


th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr {
    background-color: #c363e9;
  }
  

.btn{
    background-color: #2b4f92;
    height: 35px;
    width: 190px;
    color: rgb(247, 247, 247);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    left: 80%;
   
}