a{
    text-decoration: none;
}

h1{
margin-top: 50px;
}

h3{
    color: white;
    margin-left: 30px;
}

body{
   background-color: white;
color:white;
}

.box1{
    display: inline-block;
   
}

para{
    align-items: left;
    border-radius: 100px;
}

.container2{                                           /*For making outer box */ 
    width: 490px;
    margin-left:470px ;
    border-radius: 15px; 
    background-color: rgba(45, 42, 138, 0.907);
    height: 480px;  
	margin-top: 100px;
    padding-top:30px;
    padding-bottom: -100px ;
    /* background-image: url(); */

}

.container{                                           /*For making outer box */ 
    width: 490px;
    margin-left:470px ;
    border-radius: 15px; 
    background-color: rgba(45, 42, 138, 0.907);
    height: 530px;  
	margin-top: 100px;
    /* background-image: url(); */

}

input{
    border-radius: 100px;
}





.chapters                   /* For making box of each chapter except first chapter in main and solutions page */
  {
  margin-top:10px;
  padding: 4px;
  display: block;
  width:1000px;
  height: 21px;
  border-radius: 5px;
  background-color: white;
  color: black;
  }


.header1{
width: 200px;

}

.header2{                                             /*for h2*/
    margin-top: 1px;
    color:rgba(156, 7, 156, 0.959);
    /* font-size: 35px; */
    text-align: center;
    margin-bottom: 20px;
}

.head2{                                               /*for admin panel heading*/
    margin-left: 70px;
    color: aliceblue;
}
.head2 hr{                                            /*for hr  of h2*/
    margin-left: -50px;
    width:300px; 
}

.main{                                                
    text-align: center;
    margin:4px;
}
.main input{                   /*for input boxes*/
    width: 350px;
    height: 30px;
    box-sizing:border-box ;         /*The width and height properties include the content, padding, and border  */
    font-size: large;
    color: red;
}
.box{                                                   /*For black box in left side  */
    width: 350px;
    margin-top: -10px;
    margin-left:-10px;
    background-color:  rgba(0, 0, 0, 0.822) ; 
    height:650px; 
}
.button1{                                         /*for add button*/
   border: 3;
   width: 190px;
   height:30px;
   margin-top: -10px;
   background-color: white;
   border-radius: 100px;
   color: darkblue;
}

